<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AddressMapper">

	<insert id="plus">
	INSERT INTO 
	ADDRESS (ADDRESS_NO, ADDRESS, DEL_YN, MEMBER_NO) 
	VALUES 
	(SEQ_ADDRESS_NO.NEXTVAL, #{address}, 'N', #{memberNo})
	</insert>
	
	<update id="selectBasicAdrress">
		UPDATE MEMBER
			SET ADDRESS_NO = #{addressNo}
			WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<update id="delete">
		UPDATE ADDRESS
			SET DEL_YN = 'Y'
		WHERE ADDRESS_NO = #{addressNo}
	</update>
	
	<select id="list" resultType="com.sul.app.address.vo.AddressVo">
		SELECT M.NAME, M.TEL, A.ADDRESS, A.DEL_YN, A.ADDRESS_NO
		FROM ADDRESS A
		JOIN MEMBER M ON A.MEMBER_NO = M.MEMBER_NO
		WHERE A.DEL_YN = 'N'
		AND M.MEMBER_NO = #{memberNo}
	</select>
	
	<select id="loadBasic" resultType="com.sul.app.member.vo.MemberVo">
        SELECT 
            M.NAME
            , M.TEL
            , A.ADDRESS
        FROM MEMBER M
        JOIN ADDRESS A ON M.MEMBER_NO = A.MEMBER_NO 
            AND A.ADDRESS_NO = M.ADDRESS_NO
        WHERE A.ADDRESS_NO = #{memberNo}
    </select>
</mapper>