<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminCsBoardMapper">

	<select id="list" resultType="com.sul.app.csboard.vo.CsBoardVo">
		SELECT 
		    Q_NO
		    , Q_TITLE
		    , TO_CHAR (Q_DATE, 'YYYY-MM-DD') AS ENROLL_DATE
		    , A_YN
		FROM CUSTOMER_CENTER
		ORDER BY Q_NO DESC
	</select>
	
	<select id="detail" resultType="com.sul.app.csboard.vo.CsBoardVo">
		SELECT 
		    C.Q_NO
		    , M.NICK
		    , TO_CHAR (C.Q_DATE, 'YYYY-MM-DD') AS ENROLL_DATE
		    , A_CONTENT
		    , TO_CHAR (C.A_DATE, 'YYYY-MM-DD') AS ANSWER_DATE
		FROM CUSTOMER_CENTER C
		JOIN MEMBER M ON C.MEMBER_NO = M.MEMBER_NO
		WHERE C.Q_NO = #{qNo}
	</select>
	
	<update id="answer">
		UPDATE CUSTOMER_CENTER 
		SET ADMIN_NO = #{adminNo}, A_CONTENT = #{aContent}
		WHERE Q_NO = #{qNo}
	</update>
	

</mapper>