<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminProductMapper">

	<select id="list" resultType="com.sul.app.product.vo.ProductVo">
		SELECT 
		    P.PRODUCT_NO
            , T.TYPE_NO
		    , T.NAME AS T_NAME
		    , P.NAME AS P_NAME
		    , P.PRICE
		    , P.DEGREE
		    , P.CAPACITY
            , P.IMAGE
		    , P.STORAGE
		    , P.TASTE
		    , P.APPETIZER
		    , TO_CHAR (P.ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE
            , P.EXPIRY_DATE 
		    , P.DEL_YN
		FROM PRODUCT P
		JOIN TYPE T ON T.TYPE_NO = P.TYPE_NO
		ORDER BY PRODUCT_NO DESC
	</select>
	
	<select id="detail" resultType="com.sul.app.product.vo.ProductVo">
		SELECT 
		    P.PRODUCT_NO
            , T.TYPE_NO
		    , T.NAME AS T_NAME
		    , P.NAME AS P_NAME
		    , P.PRICE
		    , P.DEGREE
		    , P.CAPACITY
            , P.IMAGE
		    , P.STORAGE
		    , P.TASTE
		    , P.APPETIZER
		    , TO_CHAR (P.ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE
            , P.EXPIRY_DATE 
		    , P.DEL_YN
		FROM PRODUCT P
		JOIN TYPE T ON T.TYPE_NO = P.TYPE_NO
		WHERE PRODUCT_NO = #{productNo}
	</select>
	
	<insert id="insert">
		INSERT INTO PRODUCT(PRODUCT_NO, TYPE_NO, NAME, PRICE, DEGREE, CAPACITY, EXPIRY_DATE, STORAGE, TASTE, APPETIZER, IMAGE) 
		VALUES(SEQ_PRODUCT_NO.NEXTVAL, #{typeNo}, #{pName}, #{price}, #{degree}, #{capacity}, #{expiryDate}, #{storage}, #{taste}, #{appetizer}, #{image})
	</insert>
	
	<update id="delete">
		UPDATE PRODUCT SET DEL_YN = #{delYn}
		WHERE PRODUCT_NO = #{productNo}
	</update>
	
	
</mapper>