<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CsBoardMapper">

	<select id="list" resultType="com.sul.app.csboard.vo.CsBoardVo">
		SELECT 
		    C.Q_NO
		    , C.Q_TITLE
		    , C.Q_CONTENT
		    , C.Q_IMG
		    , M.MEMBER_NO
		    , M.NICK
		    , TO_CHAR (C.Q_DATE, 'YYYY-MM-DD') AS ENROLL_DATE
		    , C.ADMIN_NO
		    , C.A_CONTENT
		    , C.A_YN
		    , TO_CHAR (C.A_DATE, 'YYYY-MM-DD') AS ANSWER_DATE
		FROM CUSTOMER_CENTER C
		JOIN MEMBER M ON C.MEMBER_NO = M.MEMBER_NO
		ORDER BY Q_NO DESC
	</select>
	
	<select id="detail" resultType="com.sul.app.csboard.vo.CsBoardVo">
		SELECT 
		    C.Q_NO
		    , C.Q_TITLE
		    , C.Q_CONTENT
		    , C.Q_IMG
		    , M.MEMBER_NO
		    , M.NICK
		    , TO_CHAR (C.Q_DATE, 'YYYY-MM-DD') AS ENROLL_DATE
		    , C.ADMIN_NO
		    , C.A_CONTENT
		    , C.A_YN
		    , TO_CHAR (C.A_DATE, 'YYYY-MM-DD') AS ANSWER_DATE
		FROM CUSTOMER_CENTER C
		JOIN MEMBER M ON C.MEMBER_NO = M.MEMBER_NO
		WHERE C.Q_NO = #{qNo}
	</select>
	
	<insert id="question">
		INSERT INTO CUSTOMER_CENTER (Q_NO, MEMBER_NO, Q_TITLE, Q_CONTENT) 
		VALUES(SEQ_Q_NO.NEXTVAL, #{memberNo}, #{qTitle}, #{qContent})
	</insert>

</mapper>