<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

	<insert id="join">
	INSERT INTO MEMBER 
		(MEMBER_NO, NAME, ID, PWD, EMAIL, NICK, TEL, ENROLL_DATE, DEL_YN) 
		VALUES 
		(SEQ_MEMBER_NO.NEXTVAL, #{name}, #{id}, #{pwd}, #{email}, #{nick}, #{tel}, #{enrollDate}, #{delYn});
	</insert>
	
	<select id="login" resultType="com.sul.app.member.vo.MemberVo">
		SELECT * 
		FROM MEMBER
		WHERE DEL_YN = 'N' AND ID = #{id} AND PWD = #{pwd};
	</select>
	
	<update id="edit">
		UPDATE MEMBER
			SET 
				 ID = #{id},
				 PWD = #{pwd}, 
				 EMAIL = #{email}, 
				 NICK = #{nick}, 
				 TEL = #{tel}, 
				 MODIFY_DATE=SYSDATE
			WHERE MEMBER_NO = #{memberNo}
			AND DEL_YN = 'N'
	</update>
	
	<update id="quit">
		UPDATE MEMBER 
			SET 
				DEL_YN = 'Y' 
			WHERE ID = #{id} 
			AND PWD = #{pwd}
	</update>
	
	<select id="list" resultType="com.sul.app.member.vo.MemberVo">
		SELECT * 
			FROM MEMBER
			WHERE DEL_YN = 'N'
			AND MEMBER_NO = #{memberNo}
	</select>
	
	<select id="detail" resultType="com.sul.app.member.vo.MemberVo">
	SELECT 
	    M.MEMBER_NO
	    , M.ID
	    , M.NICK
	    , M.TEL
	    , TO_CHAR (M.ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE
	    , M.DEL_YN
	    , A.ADDRESS
	FROM MEMBER M
	JOIN ADDRESS A ON A.MEMBER_NO = M.MEMBER_NO
	WHERE M.MEMBER_NO = #{memberNo}
	</select>

	<update id="delete">
	UPDATE MEMBER SET DEL_YN = 'Y'
	WHERE MEMBER_NO = #{memberNo}
	</update>
	
</mapper>