<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeMapper">

	<select id="list" resultType="com.sul.app.notice.vo.NoticeVo">
		SELECT 
		    N.NOTICE_NO
	    	, N.TITLE
		    , N.CONTENT
		    , N.INQUIRY
		    , TO_CHAR (N.ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE
		    , A.ADMIN_NAME
		FROM NOTICE N
		JOIN ADMIN A ON A.ADMIN_NO = N.ADMIN_NO
		WHERE N.DEL_YN = 'N'
		ORDER BY NOTICE_NO DESC
		OFFSET #{pageNo} ROWS FETCH NEXT #{limit} ROWS ONLY
	</select>
	
	<select id="listAll" resultType="com.sul.app.notice.vo.NoticeVo">
		SELECT 
		    N.NOTICE_NO
	    	, N.TITLE
		    , N.CONTENT
		    , N.INQUIRY
		    , TO_CHAR (N.ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE
		    , A.ADMIN_NAME
		FROM NOTICE N
		JOIN ADMIN A ON A.ADMIN_NO = N.ADMIN_NO
		WHERE N.DEL_YN = 'N'
		ORDER BY NOTICE_NO DESC
	</select>
	
	<select id="detail" resultType="com.sul.app.notice.vo.NoticeVo">
		SELECT 
			, N.NOTICE_NO
	    	, N.TITLE
		    , N.CONTENT
		    , N.INQUIRY
		    , TO_CHAR (N.ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE
		    , A.ADMIN_NAME
		FROM NOTICE N
		JOIN ADMIN A ON A.ADMIN_NO = N.ADMIN_NO
		WHERE N.DEL_YN = 'N' AND N.NOTICE_NO = #{noticeNo}
	</select>
	
	<update id="increaseHit">
		UPDATE NOTICE
		SET
			INQUIRY = INQUIRY+1
		WHERE NOTICE_NO = #{noticeNo}
		AND DEL_YN = 'N'
	</update>

</mapper>