<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">

	<insert id="add">
		INSERT INTO ORDERS(
		    ORDER_NO
		    ,MEMBER_NO
		)
		VALUES(
		    SEQ_ORDER_NO.NEXTVAL
		    ,#{memberNo}
		)
	</insert>
	
   <insert id="addOneList">
      INSERT INTO ORDERS_LIST(
         ORDER_LIST_NO
         ,ORDER_NO
         ,PRODUCT_NO
         ,QUANTITY
      )VALUES(
         SEQ_ORDER_LIST_NO.NEXTVAL
         ,SEQ_ORDER_NO.CURRVAL
         ,#{no}
         ,#{cnt}
      )
   </insert>
   
   <insert id="addCartList">
      INSERT INTO ORDERS_LIST(
         ORDER_LIST_NO
         ,ORDER_NO
         ,PRODUCT_NO
         ,QUANTITY
      )VALUES(
         SEQ_ORDER_LIST_NO.NEXTVAL
         ,SEQ_ORDER_NO.CURRVAL
         ,#{productNo}
         ,#{cnt}
      )
   </insert>

    <select id="list" resultType="com.sul.app.order.vo.OrderVo">
	     SELECT 
	         O.ORDER_NO, 
	         O.MEMBER_NO,
	         (SELECT S.DELIVERY_STATUS 
	          FROM DELIVERY D 
	          FULL OUTER JOIN DELIVERY_STATUS S ON D.DELIVERY_STATUS_NO = S.DELIVERY_STATUS_NO
	          WHERE D.ORDER_NO = O.ORDER_NO) AS DELIVERY_STATUS,
	         TO_CHAR(O.ENROLL_DATE, 'YYYY"년"MM"월"DD"일"') AS ENROLL_DATE,
	         (SELECT SUM(P.PRICE * L.QUANTITY) 
	          FROM ORDERS_LIST L 
	          FULL OUTER JOIN PRODUCT P ON L.PRODUCT_NO = P.PRODUCT_NO
	          WHERE L.ORDER_NO = O.ORDER_NO) AS TOTAL_PRICE
	     FROM ORDERS O
	     WHERE O.MEMBER_NO = #{memberNo}
	     AND O.CANCLE_DATE IS NULL
   </select>
	
	<select id="delete" resultType="com.sul.app.order.vo.OrderVo">
	     SELECT 
		    O.ORDER_NO, 
		    O.MEMBER_NO,
            O.CANCLE_DATE,
		    (SELECT S.DELIVERY_STATUS 
		     FROM DELIVERY D 
		     JOIN DELIVERY_STATUS S ON D.DELIVERY_STATUS_NO = S.DELIVERY_STATUS_NO
		     WHERE D.ORDER_NO = O.ORDER_NO) AS DELIVERY_STATUS,
		    TO_CHAR(O.ENROLL_DATE, 'YYYY"년"MM"월"DD"일"') AS ENROLL_DATE,
		    (SELECT SUM(P.PRICE * L.QUANTITY) 
		     FROM ORDERS_LIST L 
		     JOIN PRODUCT P ON L.PRODUCT_NO = P.PRODUCT_NO
		     WHERE L.ORDER_NO = O.ORDER_NO) AS TOTAL_PRICE
		FROM ORDERS O
		WHERE O.MEMBER_NO = #{memberNo}
        AND O.CANCLE_DATE IS NOT NULL
	</select>
	
	<update id="cancel">
		UPDATE ORDERS
		SET CANCLE_DATE = CURRENT_TIMESTAMP
		WHERE ORDER_NO = #{orderNo}
	</update>
	
	<select id="detail" resultType="com.sul.app.order.vo.OrderVo">
		SELECT
		L.ORDER_LIST_NO 
		, L.ORDER_NO
		, P.NAME
		, P.PRICE
		, L.QUANTITY
			FROM ORDERS_LIST L
			JOIN PRODUCT P ON L.PRODUCT_NO = P.PRODUCT_NO
			WHERE L.ORDER_NO = #{orderNo}
	</select>
</mapper>