<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">

	<insert id="add">
		INSERT INTO ORDERS(
		    ORDER_NO
		    ,MEMBER_NO
		)
		VALUES(
		    SEQ_ORDER_NO.NEXTVAL
		    ,#{memberNo}
		)
	</insert>
	
	<insert id="addList">
		INSERT INTO ORDERS_LIST(
			ORDER_LIST_NO
			,ORDER_NO
			,PRODUCT_NO
			,MEMBER_NO
			,QUANTITY
		)VALUES(
			SEQ_ORDER_LIST_NO.NEXTVAL
			,#{orderNo}
			,#{productNo}
			,#{memberNo}
			,#{cnt}
		)
		
	
	</insert>

	<select id="list" resultType="com.sul.app.order.vo.OrderVo">
	        
        SELECT TO_CHAR(O.ORDER_DATE , 'YYYY"년"MM"월"DD"일"') AS ORDER_DATE , O.QUANTITY , O.MEMBER_NO, P.NAME,  S.DELIVERY_STATUS , O.DEL_YN, P.IMAGE
        FROM ORDERS O
        JOIN PRODUCT P ON P.PRODUCT_NO = O.PRODUCT_NO
        JOIN DELIVERY D ON D.ORDER_NO = O.ORDER_NO
        JOIN DELIVERY_STATUS S ON S.DELIVERY_STATUS_NO = D.DELIVERY_STATUS_NO
        WHERE O.MEMBER_NO = #{memberNo}
        AND O.DEL_YN = 'N'
	</select>
	
	<select id="delete" resultType="com.sul.app.order.vo.OrderVo">
	        
        SELECT TO_CHAR(O.ORDER_DATE , 'YYYY"년"MM"월"DD"일"') AS ORDER_DATE , O.QUANTITY , O.MEMBER_NO, P.NAME,  S.DELIVERY_STATUS , O.DEL_YN, P.IMAGE
        FROM ORDERS O
        JOIN PRODUCT P ON P.PRODUCT_NO = O.PRODUCT_NO
        JOIN DELIVERY D ON D.ORDER_NO = O.ORDER_NO
        JOIN DELIVERY_STATUS S ON S.DELIVERY_STATUS_NO = D.DELIVERY_STATUS_NO
        WHERE O.MEMBER_NO = #{memberNo}
        AND O.DEL_YN = 'Y'
	</select>
</mapper>