<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">

	<select id="listByEnrollDate" resultType="com.sul.app.product.vo.ProductVo">
		SELECT
		    P.PRODUCT_NO 
		    , P.NAME AS p_name
		    , P.PRICE
		    , P.IMAGE
		    , P.DEL_YN
		    , R.RATING
		    , P.ENROLL_DATE
		FROM PRODUCT P
		LEFT JOIN ORDERS_LIST OL ON P.PRODUCT_NO = OL.PRODUCT_NO
		LEFT JOIN REVIEW R ON OL.ORDER_LIST_NO = R.ORDER_LIST_NO
		WHERE P.DEL_YN = 'N'
		ORDER BY P.ENROLL_DATE DESC
		FETCH FIRST 5 ROWS ONLY
	</select>
	
	<select id="listByRating" resultType="com.sul.app.product.vo.ProductVo">
		SELECT
		    P.PRODUCT_NO 
		    , P.NAME AS p_name
		    , P.PRICE
		    , P.IMAGE
		    , P.DEL_YN
		    , R.RATING
		    , P.ENROLL_DATE
		FROM PRODUCT P
		LEFT JOIN ORDERS_LIST OL ON P.PRODUCT_NO = OL.PRODUCT_NO
		LEFT JOIN REVIEW R ON OL.ORDER_LIST_NO = R.ORDER_LIST_NO
		WHERE P.DEL_YN = 'N'
		ORDER BY R.RATING DESC, P.NAME ASC
		FETCH FIRST 5 ROWS ONLY
	</select>
	
	<select id="listByCategory" resultType="com.sul.app.product.vo.ProductVo">
		SELECT 
		    P.PRODUCT_NO
		    , P.NAME as p_name
		    , T.TYPE_NO
		    , P.PRICE
		    , P.DEL_YN
		    , P.IMAGE
		    , R.RATING
		    , P.ENROLL_DATE
		FROM PRODUCT P
		LEFT JOIN ORDERS_LIST OL ON P.PRODUCT_NO = OL.PRODUCT_NO
		LEFT JOIN REVIEW R ON OL.ORDER_LIST_NO = R.ORDER_LIST_NO
		LEFT JOIN TYPE T ON P.TYPE_NO = T.TYPE_NO
		WHERE P.TYPE_NO = #{typeNo}
		AND P.DEL_YN = 'N'
		ORDER BY P.ENROLL_DATE DESC
	</select>
	
	<select id="detail" resultType="com.sul.app.product.vo.ProductVo">
		SELECT 
			P.PRODUCT_NO
			, P.TYPE_NO
			, P.NAME AS P_NAME
			, T.NAME as T_NAME
			, P.PRICE
			, P.DEGREE
			, P.CAPACITY
			, P.EXPIRY_DATE
			, P.IMAGE
			, P.STORAGE
			, TO_CHAR(P.ENROLL_DATE,'YYYY-MM-DD') AS ENROLL_DATE
			, P.TASTE
			, P.APPETIZER
			, P.DEL_YN
			, R.RATING
		FROM PRODUCT P
		LEFT JOIN ORDERS_LIST OL ON P.PRODUCT_NO = OL.PRODUCT_NO
		LEFT JOIN REVIEW R ON OL.ORDER_LIST_NO = R.ORDER_LIST_NO
		LEFT JOIN TYPE T ON P.TYPE_NO = T.TYPE_NO
		WHERE P.PRODUCT_NO = #{productNo} 
		AND P.DEL_YN = 'N'
	</select>
	
	<select id="search" resultType="com.sul.app.product.vo.ProductVo">
	SELECT 
		P.PRODUCT_NO
		, P.NAME AS P_NAME
		, P.PRICE
		, P.IMAGE
		, P.DEL_YN
		, R.RATING
	FROM PRODUCT P
	LEFT JOIN ORDERS_LIST OL ON P.PRODUCT_NO = OL.PRODUCT_NO
	LEFT JOIN REVIEW R ON OL.ORDER_LIST_NO = R.ORDER_LIST_NO
	<where>
		<if test="pName != null">
			AND P.NAME LIKE '%' || #{pName} || '%'
		</if>
	</where>
	ORDER BY PRODUCT_NO DESC
	OFFSET #{pageNo} ROWS FETCH NEXT #{limit} ROWS ONLY
	</select>
	
	<select id="searchAll" resultType="com.sul.app.product.vo.ProductVo">
	SELECT 
		P.PRODUCT_NO
		, P.NAME AS P_NAME
		, P.PRICE
		, P.IMAGE
		, P.DEL_YN
		, R.RATING
	FROM PRODUCT P
	LEFT JOIN ORDERS_LIST OL ON P.PRODUCT_NO = OL.PRODUCT_NO
	LEFT JOIN REVIEW R ON OL.ORDER_LIST_NO = R.ORDER_LIST_NO
	<where>
		<if test="pName != null">
			AND P.NAME LIKE '%' || #{pName} || '%'
		</if>
	</where>
	ORDER BY PRODUCT_NO DESC
	</select>
	
</mapper>